@import "../layout/layout.css";
@import "../logo/logo.css";
@import "../../components/sections/sections.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply px-4 md:px-5 2xl:max-w-[1440px];
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-mono;
}
